:root {
    /*TEXT colors*/
    --text-color-light: #2B2C30;
    --text-color-dark: #D0D0D0;
    /*GREEN theme colors*/
    --green-canvas-light: #EDF1E6;
    --green-surface-light: #fff;
    --green-primary-light: #739072;
    --green-secondary-light: #bfccbe;
    --green-canvas-dark: #121212;
    --green-surface-dark: #282828;
    --green-fields-dark: #3f3f3f;
    --green-primary-dark: #829c81;

}

body {
    background-color: var(--green-canvas-light);
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    color: var(--text-color-light);
    margin: 0;
}

header {
    max-width: 100%;
    background-color: var(--green-primary-light);
    box-sizing: border-box;
    padding: 20px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 120px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.mf-1 {
    background: url(images/falloftheusherhouse.jpg) no-repeat center;
}

.mf-2 {
    background: url(images/haunting-of-the-hill-house.jpg) no-repeat center;
}

.hero-container {
    max-width: 100%;
    height: 60vh;
    /*background: url(images/falloftheusherhouse.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
}

.gradient-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(25, 34, 25);
    background: -moz-linear-gradient(0deg, rgba(25, 34, 25, 1) 0%, rgba(58, 77, 57, 0) 63%);
    background: -webkit-linear-gradient(0deg, rgba(25, 34, 25, 1) 0%, rgba(58, 77, 57, 0) 63%);
    background: linear-gradient(0deg, rgba(25, 34, 25, 1) 0%, rgba(58, 77, 57, 0) 63%);
}

.hero-content {
    z-index: 1;
    flex: 1 1 auto;
    text-align: center;
    margin: 20px;
}

.hero-content p,
h1 {
    margin: 0;
}

.hero-content p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.hero-content h1 {
    color: var(--green-primary-light);
    font-size: 2.6em;
}

h2 {
    font-size: 1.8em;
}

.tldr {
    text-decoration: none;
    color: var(--green-primary-light);
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

article a {
    color: var(--green-primary-light);
    font-weight: 600;
}

p {
    line-height: 150%;
}

.article-btn {
    text-decoration: none;
    margin-top: 20px;
    display: block;
    width: fit-content;
    box-sizing: border-box;
    padding: 15px 20px;
    border: none;
    background-color: var(--green-primary-light);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: all 0.3s linear;
}

.article-btn:hover {
    background-color: var(--green-secondary-light);
    color: var(--green-primary-light);
}

.message-container {
    background-color: var(--green-surface-light);
    border-radius: 8px;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px auto;
    max-width: 100%;
    box-shadow: rgba(207, 200, 183, 0.6) 0px 20px 25px -5px, rgba(99, 93, 80, 0.1) 0px 10px 10px -5px;
}

.message-container p {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--green-primary-light);
}

.message-container input,
textarea {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #c1cfc0;
    margin: 5px 0 15px 0;
    width: 100%;
    font-family: inherit;
}

.form-floating>.form-control {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.form-floating>.msg-box {
    height: 160px;
}

.message-container input:focus-visible {
    outline: none;
    border: 1.5px solid var(--green-primary-light);
}

.message-container textarea:focus-visible {
    outline: none;
    border: 1.5px solid var(--green-primary-light);
}

.message-container label {
    display: block;
}

.message-container button {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: var(--green-primary-light);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s linear;
}

.message-container button:hover {
    background-color: var(--green-secondary-light);
    color: var(--green-primary-light);

}

.btn-primary {
    background-color: var(--green-primary-light);
}

.btn-primary:hover {
    background-color: var(--green-secondary-light);
    color: var(--green-primary-light);
    border-color: var(--green-secondary-light);
}

footer {
    max-width: 100%;
    background-color: var(--green-primary-light);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;

}

footer a {
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    color: #fff;
}

@media screen and (max-width: 425px) {

    .article-btn {
        margin: 20px auto;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--green-canvas-dark);
        color: var(--text-color-dark);
    }

    h2 {
        color: #fff;
    }

    .message-container {
        background-color: var(--green-surface-dark);
        box-shadow: none;
    }

    .message-container input,
    textarea {
        background-color: var(--green-fields-dark);
        border: 1px solid var(--green-fields-dark);
    }

    .msg-box {
        background-color: var(--green-fields-dark);
    }

    .form-floating>.form-control {
        border: unset;
    }

    .message-container input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .message-container .btn-primary {
        background-color: var(--green-primary-dark);
    }

    .message-container .btn-primary:hover {
        background-color: unset;
        border: 1px solid var(--green-primary-dark);
    }

    .message-container button {
        background-color: var(--green-primary-dark);
    }

    .message-container p {
        color: #fff;
    }

}