:root {
    /*TEXT colors
    --text-color-light: #2B2C30;
    --text-color-dark: #D0D0D0;
    /*GREEN theme colors
    --green-canvas-light: #EDF1E6;
    --green-surface-light: #fff;
    --green-primary-light: #739072;
    --green-secondary-light: #bfccbe;
    --green-canvas-dark: #121212;
    --green-surface-dark: #282828;
    --green-fields-dark: #3f3f3f;
    --green-primary-dark: #829c81;
    /*PUPRPLE theme colors
    --purple-canvas-light: #E0D8E7;
    --purple-surface-light: #fff;
    --purple-primary-light: #4F29B1;
    --purple-canvas-dark: #1A1520;
    --purple-surface-dark: #2F2A35;
    --purple-fields-dark: #46414b;
    --purple-primary-dark: #906ECC;*/
}

[data-theme="light"] {
    --text-color: #2B2C30;
    --green-canvas: #EDF1E6;
    --green-surface: #fff;
    --green-primary: #3D563C;
    --green-secondary: #3F5F3E;
    --link-color: #3D563C;
    --theme-btn: #354535;
    --theme-text: #fff;
    --green-fields: #fff;
    --green-fields-border: #c1cfc0;
    --sc1: rgba(207, 200, 183, 0.6);
    --sc2: rgba(99, 93, 80, 0.1);
    --bs-link-color-rgb: #fff;

}

[data-theme="dark"] {
    --text-color: #D0D0D0;
    --green-canvas: #121212;
    --green-surface: #282828;
    --green-fields: #3f3f3f;
    --green-fields-border: #3f3f3f;
    --green-primary: #3D563C;
    --green-secondary: #A1BFA0;
    --link-color: #A1BFA0;
    --theme-btn: #fff;
    --theme-text: #282828;
    --sc1: rgba(207, 200, 183, 0);
    --sc2: rgba(99, 93, 80, 0);
    --bs-link-color-rgb: #fff;
}

body {
    background-color: var(--green-canvas);
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    color: var(--text-color);
    margin: 0;
}

header {
    max-width: 100%;
    background-color: var(--green-primary);
    box-sizing: border-box;
    padding: 20px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    width: 120px;
}

.menu-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#search {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    outline: none;
    padding: 0 10px;
    transition: all 0.5s;
    width: 100%;
}

#theme-btn {
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--theme-btn);
    color: var(--theme-text);
    border: 0;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.highlight {
    background-color: #EEF43B;
}

mark {
    padding: 0;
    background-color: #EEF43B;
}

.mf-1 {
    background: url(images/falloftheusherhouse.webp) no-repeat center;
}

.mf-2 {
    background: url(images/haunting-of-the-hill-house.webp) no-repeat center;
}

.hero-container {
    max-width: 100%;
    height: 60vh;
    /*background: url(images/falloftheusherhouse.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
}

.gradient-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(25, 34, 25);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 63%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 63%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 63%);
}

.hero-content {
    z-index: 1;
    flex: 1 1 auto;
    text-align: center;
    margin: 20px;
}

.hero-content p,
h1 {
    margin: 0;
}

.hero-content p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

.hero-content h1 {
    color: var(--green-primary);
    font-size: 2.6em;
}

h2 {
    font-size: 1.8em;
}

.tldr {
    text-decoration: none;
    color: var(--link-color);
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

article a {
    color: var(--link-color);
    font-weight: 600;
}

p {
    line-height: 150%;
}

.article-btn {
    text-decoration: none;
    margin-top: 20px;
    display: block;
    width: fit-content;
    box-sizing: border-box;
    padding: 15px 20px;
    border: none;
    background-color: var(--green-primary);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: all 0.3s linear;
}

.article-btn:hover {
    background-color: var(--green-secondary);
    color: var(--theme-text);
}

.author-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.8rem;
    margin-top: 20px;
}

.author-info p {
    margin-bottom: 0;
}

.author-info p:nth-child(1) {
    font-weight: 600;
}

.message-container {
    background-color: var(--green-surface);
    border-radius: 8px;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px auto;
    max-width: 100%;
    box-shadow: var(--sc1) 0px 20px 25px -5px, var(--sc2) 0px 10px 10px -5px;
}

.message-container p {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--green-secondary);
}

.message-container input,
textarea {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    margin: 5px 0 15px 0;
    width: 100%;
    font-family: inherit;
    background-color: var(--green-fields);
    border: 1px solid var(--green-fields-border);
}

.form-floating>.form-control {
    border: var(--bs-border-width) solid var(--green-fields-border);
}

.form-floating>.msg-box {
    height: 160px;
    background-color: var(--green-fields);
}

.message-container input:focus-visible {
    outline: none;
    border: 1.5px solid var(--green-primary);
}

.message-container textarea:focus-visible {
    outline: none;
    border: 1.5px solid var(--green-primary);
}

.message-container label {
    display: block;
}

.message-container button {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: var(--green-primary);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s linear;
}

.message-container button:hover {
    background-color: var(--green-secondary);
    color: var(--green-primary);

}

.message-container .btn-primary {
    background-color: var(--green-primary);
}

.message-container .btn-primary:hover {
    background-color: var(--green-secondary);
    color: var(--theme-text);
    border-color: var(--green-secondary);
}

footer {
    max-width: 100%;
    background-color: var(--green-primary);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;

}

footer a {
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    color: #fff;
}

@media screen and (max-width: 460px) {

    .article-btn {
        margin: 20px auto;
    }

    nav {
        justify-content: center;
        flex-direction: column;
    }

}

/*@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--green-canvas);
        color: var(--text-color-dark);
    }

    h2 {
        color: #fff;
    }

    .message-container {
        background-color: var(--green-surface);
        box-shadow: none;
    }

    .message-container input,
    textarea {
        background-color: var(--green-fields);
        border: 1px solid var(--green-fields);
    }

    .msg-box {
        background-color: var(--green-fields-dark);
    }

    .form-floating>.form-control {
        border: unset;
    }

    .message-container input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .message-container .btn-primary {
        background-color: var(--green-primary);
    }

    .message-container .btn-primary:hover {
        background-color: unset;
        border: 1px solid var(--green-primary);
    }

    .message-container button {
        background-color: var(--green-primary);
    }

    .message-container p {
        color: #fff;
    }

}*/